<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    {{'manage_user'|translate}}
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div>
    <form ng-submit="submitUser()" name="addForm" class="form-horizontal form-bordered ng-pristine ng-valid" novalidate>
        <div class="form-body">
            <div class="form-group">
                <label class="control-label col-md-3">{{'username'|translate}}<span style="color:red">*</span></label>
                <div class="col-md-4">
                    <div class="input-icon right">
                        <input type="text" class="form-control" name="userName" ng-model="user.UserName" required>
                    </div>
                    <div class="help-block">
                        {{'type_a_name'|translate}}
                    </div>
                </div>
                <div class="col-md-4" role="alert">
                    <span class="error" ng-show="hasError('userName', 'required')" style="color:red">
                        {{'username_required'|translate}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">{{'fullname'|translate}}</label>
                <div class="col-md-4">
                    <div class="input-icon right">
                        <input type="text" class="form-control" name="fullName" ng-model="user.FullName">
                    </div>
                    <div class="help-block">
                        {{'type_a_name'|translate}}
                    </div>
                </div>
            </div>
            <div class="form-group last password-strength">
                <label class="control-label col-md-3">{{'password'|translate}}<span style="color:red">*</span></label>
                <div class="col-md-4">
                    <input type="password" class="form-control" name="password" ng-model="user.UserPassword" required>
                    <span class="help-block">
                        {{'type_a_password'|translate}}
                    </span>
                </div>
                <div class="col-md-4" role="alert">
                    <span class="error" ng-show="hasError('password', 'required')" style="color:red">
                        {{'password_required'|translate}}
                    </span>
                </div>
            </div>
            
        </div>                
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" class="btn btn-success ng-pristine ng-valid active ng-touched" value="{{'save_user'|translate}}" />
                    <button ng-click="redirect()" class="btn btn-success ng-pristine ng-valid active ng-touched" value="Cancel" type="button">
                        {{'cancel'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- END MAIN CONTENT -->
