<div class="page-bar ng-scope">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-cog"></i>
            <a href="javascript:;">{{bread_crumb|translate}}</a>
            <i class="fa fa-angle-left"></i>
        </li>

        <li>
            <a href="javascript:;">{{SeeText}}</a>
        </li>
    </ul>
</div>
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">

        <!-- Begin: life time stats -->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i>{{ListText}}
                </div>
                <div class="actions">

                    <!--case of other grids we need to redirect to add subject/instructor/study group-->
                    <a href="#/{{text}}" class="btn btn-success ng-pristine ng-valid active ng-touched" id="add_link" ng-show="$state.current.name!=='SubjectSessions'">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-480">
                            {{AddText}}
                        </span>
                    </a>
                    <!--case when we are in sessions grid we need to add the session-->
                    <button class="btn btn-success ng-pristine ng-valid active ng-touched" ng-disabled="IsStudyGroupClosed?1:0" id="add_link" ng-show="$state.current.name==='SubjectSessions'" ng-click="addSession()">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-480">
                            {{AddText}}
                        </span>
                    </button>

                </div>
            </div>

            <div class="portlet-body">

                <div ui-grid="gridOptions" dir="{{dir}}" ui-i18n="{{lang}}"  ui-grid-move-columns class="ui-grid"></div>
                <div class="watermark" ng-show="!gridOptions.data.length" style="position: absolute;top :200px;opacity: 0.25;font-size: 3em;width: 100%;text-align: center;z-index: 1000;">{{'no_data'|translate}}</div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>









</div>
<!-- END MAIN CONTENT -->
