<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active" id="tab_1_1">
                        <form ng-submit="submitUser()" name="addForm" novalidate>
                            <div class="form-group">
                                <label class="control-label">User Name</label>
                                    <input type="text" placeholder="John" class="form-control" name="userName" ng-model="user.UserName" required />
                                    <span class="error" ng-show="hasError('userName', 'required')" style="color:red">
                                        {{'username_required'|translate}}
                                    </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Full Name</label>
                                <input type="text" placeholder="Doe" class="form-control" name="fullName" ng-model="user.FullName" required/>
                                    <span class="error" ng-show="hasError('fullName', 'required')" style="color:red">
                                        {{'fullname_required'|translate}}
                                    </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <input type="password" class="form-control" name="password" ng-model="user.UserPassword" required/>
                                    <span class="error" ng-show="hasError('password', 'required')" style="color:red">
                                        {{'password_required'|translate}}
                                    </span>
                             </div>
                                <div class="margiv-top-10">
                                    <input type="submit" class="btn green-haze" value="Save Changes"/>
                                    <input type="button" class="btn default" ng-click="redirect()" value="Cancel"/>
                                </div>
</form>
                    </div>
                    <!-- END PRIVACY SETTINGS TAB -->
                </div>
            </div>
        </div>
    </div>
</div>