<!-- ========== Usage ========== -->
<div class="portlet light bordered row">
    <div class="portlet-title">
        <i class="fa fa-users font-red-mint " aria-hidden="true"></i> <span class="caption-subject font-blue-madison bold uppercase font-red-mint">{{'users.list_users'|translate}}</span>
        <div class="tools">
            <a href="#/user.html" class="btn green mybtn">
                {{'users.add_user'|translate}}
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="portlet-title">
        <div class="tools tool">
            <a href="" class="btn green filter-btn expand" data-original-title="" title="" ng-click="getRoles()">
                {{'filter'|translate}}
                <i class="fa fa-filter"></i>
            </a>

        </div>

    </div>
    <div class="portlet-body" style="display: none;">
        <div class="row">
            <div class="col-md-12">
                <div class="ng-scope">
                    <script type="text/ng-template" id="group-template.html">
                        <div class="panel {{panelClass || 'panel-default'}}">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="color:#fa39c3">
                                    <a href="" tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                                        <span uib-accordion-header ng-class="{'text-muted': isDisabled}"> {{heading}} </span>
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                                <div class="panel-body" style="text-align: right" ng-transclude></div>
                            </div>
                        </div>
                    </script>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="datatable_reviews" aria-describedby="datatable_reviews_info" role="grid">
                            <thead>
                                <tr role="row" class="heading">
                                    <th width="30%" class="sorting" tabindex="0" aria-controls="datatable_reviews" rowspan="1" colspan="1"> {{'users.username'|translate}}</th>
                                    <th width="30%" class="sorting" tabindex="0" aria-controls="datatable_reviews" rowspan="1" colspan="1"> {{'users.fullname'|translate}}</th>
                                    <th width="20%" class="sorting" tabindex="0" aria-controls="datatable_reviews" rowspan="1" colspan="1"> {{'users.user_role'|translate}} </th>
                                    <th width="20%" class="sorting" tabindex="0" aria-controls="datatable_reviews" rowspan="1" colspan="1"> {{'operations'|translate}} </th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr role="row" class="filter">
                                    <td rowspan="1" colspan="1">
                                        <input  class="form-control form-filter input-sm" name="" ng-model="filterObject.SearchObject.UserName" />
                                    </td>

                                    <td rowspan="1" colspan="1">
                                        <input class="form-control form-filter input-sm" name="" value="" ng-model="filterObject.SearchObject.FullName"/>
                                    </td>
                                    <td rowspan="1" colspan="1">
                                        <ui-select ng-model="filterObject.SearchObject.RoleID" theme="bootstrap">
                                            <ui-select-match placeholder="{{'users.type_role'|translate}}">{{$select.selected.RoleName}}</ui-select-match>
                                            <ui-select-choices repeat="role.RoleID as role in rolesList">
                                                <div ng-bind-html="role.RoleName | highlight: $select.search"></div>
                                                <!--<small ng-bind-html="role.RoleName | highlight: $select.search"></small>-->
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                    <td rowspan="1" colspan="1">
                                        <div class="margin-bottom-5 in-b">
                                            <button class="btn btn-sm  filter-submit margin-bottom blue" ng-click="getList()">
                                                <i class="fa fa-search"></i> {{'search'|translate}}
                                            </button>
                                        </div>
                                        <button class="btn btn-sm red-mint filter-cancel">
                                            <i class="fa fa-times"></i> {{'cancel'|translate}}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<table ng-table="tableParams" class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
    <tr ng-repeat="row in $data track by row.UserID">
        <td width="30%" data-title="'users.username'|translate"  sortable="'UserName'">{{row.UserName}}</td>
        <td  width="30%" data-title="'users.fullname'|translate"  sortable="'FullName'">{{row.FullName}}</td>
        <td width="20%" data-title="'users.user_role'|translate"  sortable="'Role.RoleName'">{{row.Role.RoleName}}</td>
        <td width="20%" data-title="'operations'|translate">
            <button ng-click="editRow(row)" class="btn default btn-xs blue" role="button">
                <i class="fa fa-edit"></i> {{'edit'|translate}}
            </button>
            <button ng-click="deleteRow(row)" class="btn default btn-xs red-thunderbird">
                <i class="fa fa-trash-o"></i> {{'remove'|translate}}
            </button>
        </td>
    </tr>
</table>



