<div class="col-md-12">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-plus font-green"></i>
                <span class="caption-subject bold font-green uppercase">Add Item</span>
            </div>
        </div>
        <div class="portlet-body">
            <form role="form" action="#">
                <div class="form-group">
                    <label class="control-label">Item name</label>
                    <input type="text" placeholder="A Can of Tuna" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Item Description</label>
                    <textarea class="form-control" rows="3" placeholder="It's delicious!!"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">Price</label>
                    <input type="text" placeholder="$3.99" class="form-control">
                </div>
                <div class="margin-top-10">
                    <a href="javascript:;" class="btn green">Save Changes </a>
                    <a href="#/gridAddEdit.html" class="btn default">Cancel </a>
                </div>
            </form>
        </div>
    </div>
</div>