<div ng-app="myApp" class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">ngTableDynamic: Data cell template (via JS)</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="bs-callout bs-callout-info">
                        <h4>Overview</h4>
                        <p>Other than simple interporlated strings, it might not be obvious how to format cell values using <code>ngTableDynamic</code>. This demo shows you how to render cell values in pretty much any way you want.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bs-callout bs-callout-info">
                        <h4>Prefer HTML over JavaScript?</h4>
                        <p>If you would prefer to use HTML to define cell rendering, see <a href="http://codepen.io/christianacca/pen/meeyOW?editors=101">this codepen</a> instead</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" ng-controller="simpleValueDemoController as demo">
            <h3>Simple HTML</h3>
            <table ng-table-dynamic="demo.tableParams with demo.cols" class="table table-condensed table-bordered table-striped">
                <tr ng-repeat="row in $data">
                    <td ng-repeat="col in $columns" ng-bind-html="col.getValue(this, row)"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6" ng-controller="advancedValueDemoController as demo">
            <h3>HTML with angular directives</h3>
            <table ng-table-dynamic="demo.tableParams with demo.cols" class="table table-condensed table-bordered table-striped">
                <tr ng-repeat="row in $data">
                    <td ng-repeat="col in $columns" demo-bind-compiled-html="col.getValue(this, row)"></td>
                </tr>
            </table>
        </div>
    </div>


</div>