.login {
    background: #ececec;
    text-align: center;
}

.login div form {
    margin-top:20px;
        background:white;
        display: inline-block;
        width: 100%;
        max-width: 350px;
        padding:20px 40px 50px;
    }
    .login div form div {
        margin-top:8%;
    }
.login div{
}

.cont {
    width: 100%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
